header {
display: flex;
justify-content: space-evenly;
background-color: black;
color: white;
gap: 50px;
padding: 0px;


}
header div h1 {
margin-right: 800px;
margin-top: 40px;


}

.list-menu ul {
display: flex;
justify-content: center;
gap: 20px;
margin-top: 50px;
color: white;
list-style: none;

}

.list-menu ul li a {
color: white;
text-decoration: none;

}